@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Archangelsk';
    src: url('/fonts/ofont.ru_Archangelsk.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}